

    <div>
        <header> <a href="../index.html"></a>  
            <section class="header">
    
            <div class="logo">
                <a href="../index.html">
                <img class="img-logo" src="../Multimedia/LOGO OK.ico" alt="icono no disponible"width="130" height="">
                </a>
            </div>
    </div>
    
    <div class="container" style="padding-bottom:20% ; background-color: #3ea83f;">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
      <div>
        <img class="imgastroadiario" src="../Multimedia/ASTROADIARIO.png" alt="img no disponible">
      </div>
      

          <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span style="color:#a82d69;" class="fs-5 fw-semibold">BLOG DE NOTAS</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button style=" color:#a82d69; font-style: bold italic;" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Archivos
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a style="color:#c4397c" href="./agosto22.html" class="link-dark d-inline-flex text-decoration-none rounded">Agosto 2022</a></li>
                <li><a style="color:#c4397c" href="./septiembre22.html" class="link-dark d-inline-flex text-decoration-none rounded">Septiembre 2022</a></li>
              </ul>
              <br>
              <br>
            </div>
          </li>
            </div>
            </div>










