
        <div>
    <header class="headerquienessomos">
        <a href="../views/index.hbs"><img class="img-logo" style="margin:2% auto" src="../Multimedia/LOGO OK.ico" alt="Inicio" height="70"></a>
    </header>
        </div>
    <div class="container">
    <h1 style="text-transform: capitalize;" class="tituloquienessomos"> quiénes somos</h1>
    </div>
    <main class="mainquienessomos">
        <div>
        <p class="pquienessomos" id = "quienesomos" style="color:black ;">
            
        </p>
    </div>
        <aside class="asidequienessomos">
            <img src="../Multimedia/pluton-quienes somos.jpg" alt="imagen no disponible" width="400">
        </aside>      
    </main>
    <br>
<hr>
    <div class="traduccion">
        <nav>
            <a style="color:#e7fad0 ;" href="#" onclick="quienesomos.innerText = espanol">Español</a>
            <a style="color:#e7fad0 ;" href="#" onclick="quienesomos.innerText = frances">Francés</a>
            <a style="color:#e7fad0 ;" href="#" onclick="quienesomos.innerText = ingles">Inglés</a>
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
